<div id="proc-list-item-{{ pid }}" data-proc-list-item="proc-list-item-{{ pid }}" class="{{class}}" data-proc-list-item-pid="{{ pid }}" data-proc-list-item-cipher-text="{{ value|raw }}" data-proc-list-item-type="{{ type }}">{{ label }}</div>
